.chapters-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.chapters-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.chapters-navlink {
  display: contents;
}
.chapters-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.chapters-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.chapters-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.chapters-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.chapters-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chapters-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.chapters-dropdown-arrow {
  transition: 0.3s;
}
.chapters-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.chapters-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chapters-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text003 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text004 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.chapters-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chapters-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.chapters-dropdown-arrow1 {
  transition: 0.3s;
}
.chapters-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.chapters-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chapters-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text005 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text006 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text007 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-navlink09 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.chapters-navlink10 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-navlink11 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.chapters-burger-menu {
  display: none;
}
.chapters-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.chapters-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.chapters-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chapters-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.chapters-navlink12 {
  display: contents;
}
.chapters-logo {
  height: 2rem;
  text-decoration: none;
}
.chapters-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapters-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.chapters-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.chapters-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink14 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink17 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-size: contain;
  justify-content: center;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4ebf289-f744-43c1-8d50-ce5fbf432fba/dg1w0q6-248f879c-2665-4c64-a38a-7edea7204307.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0ZWJmMjg5LWY3NDQtNDNjMS04ZDUwLWNlNWZiZjQzMmZiYVwvZGcxdzBxNi0yNDhmODc5Yy0yNjY1LTRjNjQtYTM4YS03ZWRlYTcyMDQzMDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PuDOoTVkkT2Cuzw1OGRu4kNUh8Cu8PkMhdXGRj7o_mo');
}
.chapters-text008 {
  color: rgb(255, 255, 255);
  align-self: center;
}
.chapters-container02 {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0f4d6b;
}
.chapters-lottie-node {
  width: 349px;
  height: 375px;
}
.chapters-container03 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.chapters-text011 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
}
.chapters-text012 {
  color: #CAE9FF;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.chapters-btn-group {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.chapters-link {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-link:hover {
  transform: scale(1.02);
}
.chapters-link1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-link1:hover {
  transform: scale(1.02);
}
.chapters-navlink20 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-navlink20:hover {
  transform: scale(1.02);
}
.chapters-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-iframe {
  width: 996px;
  height: 800px;
  margin: 0px;
  align-self: center;
}
.chapters-container04 {
  width: 332px;
  height: 464px;
  margin: var(--dl-space-space-unit);
  align-self: center;
}
.chapters-container05 {
  display: contents;
}
.chapters-container06 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #CAE9FF;
}
.chapters-text013 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.chapters-iframe1 {
  width: var(--dl-size-size-maxwidth);
  height: 501px;
  margin: var(--dl-space-space-threeunits);
  padding: var(--dl-space-space-twounits);
}
.chapters-container07 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.chapters-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.chapters-container09 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapters-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-text016 {
  color: var(--dl-color-gray-black);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.chapters-text019 {
  color: var(--dl-color-gray-black);
  width: 100%;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.chapters-container11 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapters-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-text118 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.chapters-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.chapters-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.chapters-container13 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card:hover {
  transform: scale(1.02);
}
.chapters-link2 {
  display: contents;
}
.chapters-image1 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.chapters-container14 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card1:hover {
  transform: scale(1.02);
}
.chapters-link3 {
  display: contents;
}
.chapters-image2 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.chapters-container15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chapters-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card2:hover {
  transform: scale(1.02);
}
.chapters-link4 {
  display: contents;
}
.chapters-image3 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.chapters-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.chapters-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-link5 {
  display: contents;
}
.chapters-icon08 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-link6 {
  display: contents;
}
.chapters-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-link7 {
  display: contents;
}
.chapters-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .chapters-desktop-menu {
    display: none;
  }
  .chapters-burger-menu {
    display: flex;
  }
  .chapters-icon04 {
    fill: #D9D9D9;
  }
  .chapters-text012 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-iframe {
    width: 850px;
    height: 653px;
  }
  .chapters-iframe1 {
    width: 1199px;
  }
  .chapters-container10 {
    width: 100%;
  }
  .chapters-text019 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .chapters-text012 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-hero {
    flex-direction: column;
  }
  .chapters-iframe {
    width: 990px;
    height: 665px;
  }
  .chapters-iframe1 {
    width: 990px;
  }
  .chapters-blog {
    flex-direction: column;
  }
  .chapters-container13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .chapters-container14 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .chapters-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .chapters-navlink13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-container01 {
    height: 130px;
  }
  .chapters-text008 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .chapters-text012 {
    margin: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .chapters-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-iframe {
    width: 759px;
    height: 546px;
  }
  .chapters-text013 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .chapters-iframe1 {
    width: 766px;
  }
  .chapters-text016 {
    color: #000000;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .chapters-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .chapters-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .chapters-text121 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .chapters-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .chapters-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .chapters-container01 {
    height: 131px;
  }
  .chapters-text008 {
    align-self: center;
    text-align: center;
  }
  .chapters-container02 {
    height: 958px;
  }
  .chapters-text012 {
    margin: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-unit);
  }
  .chapters-btn-group {
    flex-direction: column;
  }
  .chapters-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .chapters-navlink20 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .chapters-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .chapters-iframe {
    width: 478px;
    height: 509px;
  }
  .chapters-container06 {
    height: auto;
  }
  .chapters-text013 {
    width: auto;
    align-self: center;
    text-align: center;
  }
  .chapters-iframe1 {
    width: 478px;
  }
  .chapters-container07 {
    height: auto;
  }
  .chapters-container10 {
    width: 100%;
  }
  .chapters-text016 {
    align-self: center;
    text-align: center;
  }
  .chapters-text019 {
    width: auto;
  }
  .chapters-footer {
    padding: var(--dl-space-space-unit);
  }
  .chapters-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .chapters-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .chapters-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .chapters-text121 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
