.chapters-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.chapters-container01 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #0f4d6b;
}
.chapters-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.chapters-navlink {
  display: contents;
}
.chapters-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.chapters-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.chapters-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.chapters-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.chapters-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chapters-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.chapters-dropdown-arrow {
  transition: 0.3s;
}
.chapters-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.chapters-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chapters-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.chapters-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chapters-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.chapters-dropdown-arrow1 {
  transition: 0.3s;
}
.chapters-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.chapters-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chapters-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-navlink12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.chapters-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chapters-navlink14 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.chapters-dropdown-arrow2 {
  transition: 0.3s;
}
.chapters-icon04 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.chapters-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chapters-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chapters-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.chapters-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chapters-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chapters-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.chapters-burger-menu {
  display: none;
}
.chapters-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.chapters-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.chapters-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chapters-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.chapters-navlink17 {
  display: contents;
}
.chapters-logo {
  height: 2rem;
  text-decoration: none;
}
.chapters-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapters-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.chapters-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.chapters-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink22 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink23 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-navlink24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.chapters-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-container02 {
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.chapters-lottie-node {
  width: 826px;
  height: 410px;
  align-self: center;
}
.chapters-container03 {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
}
.chapters-text13 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
}
.chapters-text14 {
  color: rgb(202, 233, 255);
  margin: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
}
.chapters-btn-group {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.chapters-link {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-link:hover {
  transform: scale(1.02);
}
.chapters-link1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-link1:hover {
  transform: scale(1.02);
}
.chapters-navlink25 {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #102632;
}
.chapters-navlink25:hover {
  transform: scale(1.02);
}
.chapters-link2 {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(16, 38, 50);
}
.chapters-link2:hover {
  transform: scale(1.02);
}
.chapters-container04 {
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.chapters-container05 {
  display: contents;
}
.chapters-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.chapters-container07 {
  flex: 0 0 auto;
  width: 385px;
  height: 447px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.chapters-container08 {
  width: 315px;
  height: 417px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.chapters-container09 {
  display: contents;
}
.chapters-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.chapters-iframe {
  width: var(--dl-size-size-maxwidth);
  height: 560px;
  margin: 0px;
  align-self: center;
}
.chapters-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-text21 {
  color: var(--dl-color-gray-black);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.chapters-container12 {
  width: 100%;
}
.chapters-container13 {
  display: contents;
}
.chapters-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-text24 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.chapters-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.chapters-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.chapters-container15 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card:hover {
  transform: scale(1.02);
}
.chapters-link3 {
  display: contents;
}
.chapters-image1 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.chapters-container16 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.chapters-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card1:hover {
  transform: scale(1.02);
}
.chapters-link4 {
  display: contents;
}
.chapters-image2 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.chapters-container17 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chapters-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chapters-blog-post-card2:hover {
  transform: scale(1.02);
}
.chapters-link5 {
  display: contents;
}
.chapters-image3 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.chapters-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.chapters-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chapters-link6 {
  display: contents;
}
.chapters-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-link7 {
  display: contents;
}
.chapters-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chapters-link8 {
  display: contents;
}
.chapters-icon14 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.chapters-container20 {
  display: contents;
}
@media(max-width: 1200px) {
  .chapters-desktop-menu {
    display: none;
  }
  .chapters-burger-menu {
    display: flex;
  }
  .chapters-icon06 {
    fill: #D9D9D9;
  }
  .chapters-text14 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-text15 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-iframe {
    width: 850px;
    height: 653px;
  }
  .chapters-container11 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .chapters-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .chapters-container03 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .chapters-text14 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-text15 {
    margin: var(--dl-space-space-twounits);
  }
  .chapters-iframe {
    width: 990px;
    height: 665px;
  }
  .chapters-blog {
    flex-direction: column;
  }
  .chapters-container15 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .chapters-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .chapters-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .chapters-navlink18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink23 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-navlink24 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-container03 {
    margin: 0px;
  }
  .chapters-text14 {
    margin: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .chapters-text15 {
    margin: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .chapters-iframe {
    width: 759px;
    height: 546px;
  }
  .chapters-text21 {
    color: #000000;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .chapters-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .chapters-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .chapters-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .chapters-text27 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .chapters-container01 {
    height: auto;
  }
  .chapters-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .chapters-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .chapters-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .chapters-container02 {
    width: 478px;
  }
  .chapters-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .chapters-text14 {
    margin: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-unit);
  }
  .chapters-text15 {
    margin: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-unit);
  }
  .chapters-btn-group {
    flex-direction: column;
  }
  .chapters-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .chapters-navlink25 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .chapters-link2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .chapters-container04 {
    height: 100%;
  }
  .chapters-container08 {
    width: 277px;
  }
  .chapters-iframe {
    width: 478px;
    height: 509px;
  }
  .chapters-container11 {
    width: 100%;
  }
  .chapters-text21 {
    align-self: center;
    text-align: center;
  }
  .chapters-footer {
    padding: var(--dl-space-space-unit);
  }
  .chapters-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .chapters-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .chapters-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .chapters-text27 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
.navbar-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.navbar-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.navbar-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-navlink03 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow1 {
  transition: 0.3s;
}
.navbar-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-navlink14 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink15 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow2 {
  transition: 0.3s;
}
.navbar-icon04 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-navlink18 {
  display: contents;
}
.navbar-logo {
  height: 2rem;
  text-decoration: none;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink22 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink23 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink25 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon06 {
    fill: #D9D9D9;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-navlink19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink23 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink24 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink25 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    height: 404px;
    padding: 16px;
  }
}
