.events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.events-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.events-navlink {
  display: contents;
}
.events-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.events-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.events-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.events-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.events-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.events-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.events-dropdown-arrow {
  transition: 0.3s;
}
.events-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.events-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.events-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.events-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.events-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.events-dropdown-arrow1 {
  transition: 0.3s;
}
.events-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.events-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.events-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.events-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-dropdown-toggle8 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.events-dropdown-toggle8:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.events-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.events-navlink11 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.events-navlink12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.events-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.events-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.events-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.events-burger-menu {
  display: none;
}
.events-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.events-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.events-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.events-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.events-navlink14 {
  display: contents;
}
.events-logo {
  height: 2rem;
  text-decoration: none;
}
.events-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.events-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.events-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.events-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink17 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.events-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-size: contain;
  justify-content: center;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4ebf289-f744-43c1-8d50-ce5fbf432fba/dg1w0q6-248f879c-2665-4c64-a38a-7edea7204307.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0ZWJmMjg5LWY3NDQtNDNjMS04ZDUwLWNlNWZiZjQzMmZiYVwvZGcxdzBxNi0yNDhmODc5Yy0yNjY1LTRjNjQtYTM4YS03ZWRlYTcyMDQzMDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PuDOoTVkkT2Cuzw1OGRu4kNUh8Cu8PkMhdXGRj7o_mo');
}
.events-text10 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.events-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f4d6b;
}
.events-text13 {
  color: #CAE9FF;
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.events-gallery {
  width: 100%;
  margin: var(--dl-space-space-unit);
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.events-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.events-image1 {
  width: 100%;
  height: 437px;
  object-fit: cover;
  transition: 0.3s;
}

.events-text17 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.events-text20 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.events-gallery-card1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.events-image2 {
  width: 100%;
  height: 437px;
  object-fit: cover;
  transition: 0.3s;
}

.events-text24 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.events-text25 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.events-gallery-card2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.events-image3 {
  width: 460px;
  height: 437px;
  object-fit: cover;
  transition: 0.3s;
}

.events-text26 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.events-text27 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.events-gallery-card3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.events-image4 {
  width: 100%;
  height: 436px;
  object-fit: cover;
  transition: 0.3s;
}

.events-text28 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.events-text29 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.events-gallery-card4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.events-image5 {
  width: 100%;
  height: 436px;
  object-fit: cover;
  transition: 0.3s;
}

.events-text33 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.events-text34 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.events-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.events-text37 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.events-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.events-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.events-container4 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.events-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.events-blog-post-card:hover {
  transform: scale(1.02);
}
.events-link {
  display: contents;
}
.events-image6 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.events-container5 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.events-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.events-blog-post-card1:hover {
  transform: scale(1.02);
}
.events-link1 {
  display: contents;
}
.events-image7 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.events-container6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.events-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.events-blog-post-card2:hover {
  transform: scale(1.02);
}
.events-link2 {
  display: contents;
}
.events-image8 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.events-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.events-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.events-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.events-link3 {
  display: contents;
}
.events-icon08 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.events-link4 {
  display: contents;
}
.events-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.events-link5 {
  display: contents;
}
.events-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .events-desktop-menu {
    display: none;
  }
  .events-burger-menu {
    display: flex;
  }
  .events-icon04 {
    fill: #D9D9D9;
  }
  .events-container2 {
    height: auto;
  }
  .events-text13 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .events-text20 {
    color: var(--dl-color-gray-500);
  }
  .events-image3 {
    width: 100%;
    height: 394px;
  }
  .events-text34 {
    color: var(--dl-color-gray-500);
  }
}
@media(max-width: 991px) {
  .events-container2 {
    height: auto;
  }
  .events-text13 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .events-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .events-text20 {
    color: var(--dl-color-gray-500);
  }
  .events-image3 {
    width: 100%;
    height: 407px;
  }
  .events-blog {
    flex-direction: column;
  }
  .events-container4 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .events-container5 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .events-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .events-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .events-navlink15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .events-container1 {
    height: 130px;
  }
  .events-text10 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .events-container2 {
    height: auto;
  }
  .events-text13 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .events-gallery {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .events-gallery-card {
    flex-direction: column;
  }
  .events-text20 {
    color: var(--dl-color-gray-500);
  }
  .events-gallery-card1 {
    flex-direction: column;
  }
  .events-text24 {
    font-weight: 600;
  }
  .events-gallery-card2 {
    flex-direction: column;
  }
  .events-image3 {
    width: 334px;
    height: 252px;
  }
  .events-gallery-card3 {
    flex-direction: column;
  }
  .events-gallery-card4 {
    flex-direction: column;
  }
  .events-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .events-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .events-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .events-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .events-text40 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .events-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .events-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .events-container1 {
    height: 131px;
  }
  .events-text10 {
    align-self: center;
    text-align: center;
  }
  .events-container2 {
    height: auto;
  }
  .events-text13 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .events-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .events-image1 {
    height: 10rem;
  }
  .events-text20 {
    color: var(--dl-color-gray-500);
  }
  .events-image2 {
    height: 10rem;
  }
  .events-image3 {
    width: 201px;
    height: 10rem;
  }
  .events-image4 {
    height: 10rem;
  }
  .events-image5 {
    height: 10rem;
  }
  .events-footer {
    padding: var(--dl-space-space-unit);
  }
  .events-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .events-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .events-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .events-text40 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
