.iyna-ideathon-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.iyna-ideathon-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.iyna-ideathon-navlink {
  display: contents;
}
.iyna-ideathon-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.iyna-ideathon-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.iyna-ideathon-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.iyna-ideathon-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.iyna-ideathon-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.iyna-ideathon-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.iyna-ideathon-dropdown-arrow {
  transition: 0.3s;
}
.iyna-ideathon-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.iyna-ideathon-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.iyna-ideathon-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.iyna-ideathon-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.iyna-ideathon-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.iyna-ideathon-dropdown-arrow1 {
  transition: 0.3s;
}
.iyna-ideathon-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.iyna-ideathon-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.iyna-ideathon-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-navlink12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.iyna-ideathon-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.iyna-ideathon-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.iyna-ideathon-navlink14 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.iyna-ideathon-dropdown-arrow2 {
  transition: 0.3s;
}
.iyna-ideathon-icon04 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.iyna-ideathon-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.iyna-ideathon-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.iyna-ideathon-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.iyna-ideathon-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.iyna-ideathon-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.iyna-ideathon-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.iyna-ideathon-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.iyna-ideathon-burger-menu {
  display: none;
}
.iyna-ideathon-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.iyna-ideathon-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.iyna-ideathon-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.iyna-ideathon-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.iyna-ideathon-navlink17 {
  display: contents;
}
.iyna-ideathon-logo {
  height: 2rem;
  text-decoration: none;
}
.iyna-ideathon-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iyna-ideathon-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.iyna-ideathon-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.iyna-ideathon-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink22 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink23 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-navlink24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.iyna-ideathon-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #2c5775;
}
.iyna-ideathon-text13 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.iyna-ideathon-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0273b1;
}
.iyna-ideathon-text16 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.iyna-ideathon-text19 {
  color: rgb(202, 233, 255);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.iyna-ideathon-text21 {
  font-weight: 700;
}
.iyna-ideathon-text23 {
  font-weight: 700;
}
.iyna-ideathon-link {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(16, 38, 50);
}
.iyna-ideathon-link:hover {
  transform: scale(1.02);
}
.iyna-ideathon-container03 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0f4d6b;
}
.iyna-ideathon-text24 {
  color: rgb(202, 233, 255);
  margin: var(--dl-space-space-twounits);
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.iyna-ideathon-text31 {
  font-weight: 700;
}
.iyna-ideathon-link1 {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(16, 38, 50);
}
.iyna-ideathon-link1:hover {
  transform: scale(1.02);
}
.iyna-ideathon-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.iyna-ideathon-text38 {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.iyna-ideathon-text39 {
  font-weight: 700;
}
.iyna-ideathon-text47 {
  font-weight: 700;
}
.iyna-ideathon-text48 {
  font-weight: 700;
}
.iyna-ideathon-text49 {
  font-weight: 700;
}
.iyna-ideathon-text57 {
  font-weight: 700;
}
.iyna-ideathon-text58 {
  font-weight: 700;
}
.iyna-ideathon-text66 {
  font-weight: 700;
}
.iyna-ideathon-text67 {
  font-weight: 700;
}
.iyna-ideathon-container06 {
  display: contents;
}
.iyna-ideathon-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.iyna-ideathon-image1 {
  width: 661px;
  height: 562px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.iyna-ideathon-text75 {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.iyna-ideathon-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.iyna-ideathon-text91 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.iyna-ideathon-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.iyna-ideathon-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.iyna-ideathon-container09 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.iyna-ideathon-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iyna-ideathon-blog-post-card:hover {
  transform: scale(1.02);
}
.iyna-ideathon-link2 {
  display: contents;
}
.iyna-ideathon-image2 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.iyna-ideathon-container10 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.iyna-ideathon-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iyna-ideathon-blog-post-card1:hover {
  transform: scale(1.02);
}
.iyna-ideathon-link3 {
  display: contents;
}
.iyna-ideathon-image3 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.iyna-ideathon-container11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iyna-ideathon-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iyna-ideathon-blog-post-card2:hover {
  transform: scale(1.02);
}
.iyna-ideathon-link4 {
  display: contents;
}
.iyna-ideathon-image4 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.iyna-ideathon-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.iyna-ideathon-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.iyna-ideathon-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.iyna-ideathon-link5 {
  display: contents;
}
.iyna-ideathon-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.iyna-ideathon-link6 {
  display: contents;
}
.iyna-ideathon-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.iyna-ideathon-link7 {
  display: contents;
}
.iyna-ideathon-icon14 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.iyna-ideathon-container14 {
  display: contents;
}
@media(max-width: 1200px) {
  .iyna-ideathon-desktop-menu {
    display: none;
  }
  .iyna-ideathon-burger-menu {
    display: flex;
  }
  .iyna-ideathon-icon06 {
    fill: #D9D9D9;
  }
  .iyna-ideathon-container03 {
    height: auto;
  }
}
@media(max-width: 991px) {
  .iyna-ideathon-container03 {
    height: auto;
  }
  .iyna-ideathon-image1 {
    width: 695px;
    height: 559px;
    align-self: center;
  }
  .iyna-ideathon-blog {
    flex-direction: column;
  }
  .iyna-ideathon-container09 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .iyna-ideathon-container10 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .iyna-ideathon-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .iyna-ideathon-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .iyna-ideathon-navlink18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink23 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-navlink24 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .iyna-ideathon-container01 {
    height: 130px;
  }
  .iyna-ideathon-text13 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .iyna-ideathon-container03 {
    height: auto;
  }
  .iyna-ideathon-image1 {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .iyna-ideathon-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .iyna-ideathon-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .iyna-ideathon-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .iyna-ideathon-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .iyna-ideathon-text94 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .iyna-ideathon-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .iyna-ideathon-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .iyna-ideathon-container01 {
    height: 131px;
  }
  .iyna-ideathon-container03 {
    height: auto;
  }
  .iyna-ideathon-image1 {
    width: 340px;
    height: 460px;
    margin: 20px;
  }
  .iyna-ideathon-footer {
    padding: var(--dl-space-space-unit);
  }
  .iyna-ideathon-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .iyna-ideathon-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .iyna-ideathon-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .iyna-ideathon-text94 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
