.neuroethics-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.neuroethics-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.neuroethics-navlink {
  display: contents;
}
.neuroethics-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.neuroethics-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.neuroethics-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.neuroethics-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.neuroethics-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.neuroethics-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.neuroethics-dropdown-arrow {
  transition: 0.3s;
}
.neuroethics-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.neuroethics-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.neuroethics-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.neuroethics-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.neuroethics-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.neuroethics-dropdown-arrow1 {
  transition: 0.3s;
}
.neuroethics-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.neuroethics-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.neuroethics-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-navlink12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.neuroethics-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.neuroethics-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.neuroethics-navlink14 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.neuroethics-dropdown-arrow2 {
  transition: 0.3s;
}
.neuroethics-icon04 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.neuroethics-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.neuroethics-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.neuroethics-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.neuroethics-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.neuroethics-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.neuroethics-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.neuroethics-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.neuroethics-burger-menu {
  display: none;
}
.neuroethics-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.neuroethics-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.neuroethics-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.neuroethics-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.neuroethics-navlink17 {
  display: contents;
}
.neuroethics-logo {
  height: 2rem;
  text-decoration: none;
}
.neuroethics-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.neuroethics-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.neuroethics-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.neuroethics-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink22 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink23 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-navlink24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.neuroethics-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #2c5775;
}
.neuroethics-text13 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.neuroethics-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0273b1;
}
.neuroethics-text16 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
}
.neuroethics-text19 {
  color: rgb(202, 233, 255);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.neuroethics-text21 {
  font-weight: 700;
}
.neuroethics-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.neuroethics-link {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #102632;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(16, 38, 50);
}
.neuroethics-link:hover {
  transform: scale(1.02);
}
.neuroethics-link01 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #102632;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(16, 38, 50);
}
.neuroethics-link01:hover {
  transform: scale(1.02);
}
.neuroethics-container04 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0f4d6b;
}
.neuroethics-text26 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.neuroethics-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.neuroethics-container05 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.neuroethics-blog-post-card {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.neuroethics-blog-post-card:hover {
  transform: scale(1.02);
}
.neuroethics-link02 {
  display: contents;
}
.neuroethics-image1 {
  width: auto;
  height: 117px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.neuroethics-container06 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.neuroethics-blog-post-card1 {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.neuroethics-blog-post-card1:hover {
  transform: scale(1.02);
}
.neuroethics-link03 {
  display: contents;
}
.neuroethics-image2 {
  width: 100%;
  height: 102px;
  margin: 0px;
  object-fit: cover;
  text-decoration: none;
}
.neuroethics-text29 {
  color: rgb(202, 233, 255);
  margin: var(--dl-space-space-twounits);
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.neuroethics-container07 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0273b1;
}
.neuroethics-text34 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
}
.neuroethics-text37 {
  color: rgb(202, 233, 255);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.neuroethics-container08 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #62B6CB;
}
.neuroethics-text43 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.neuroethics-iframe {
  width: 710px;
  height: 948px;
  margin: var(--dl-space-space-twounits);
}
.neuroethics-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.neuroethics-iframe1 {
  width: 710px;
  height: 948px;
  margin: var(--dl-space-space-twounits);
}
.neuroethics-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.neuroethics-text50 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.neuroethics-blog1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.neuroethics-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.neuroethics-container11 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.neuroethics-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.neuroethics-blog-post-card2:hover {
  transform: scale(1.02);
}
.neuroethics-link04 {
  display: contents;
}
.neuroethics-image3 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.neuroethics-container12 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.neuroethics-blog-post-card3 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.neuroethics-blog-post-card3:hover {
  transform: scale(1.02);
}
.neuroethics-link05 {
  display: contents;
}
.neuroethics-image4 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.neuroethics-container13 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.neuroethics-blog-post-card4 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.neuroethics-blog-post-card4:hover {
  transform: scale(1.02);
}
.neuroethics-link06 {
  display: contents;
}
.neuroethics-image5 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.neuroethics-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.neuroethics-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.neuroethics-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.neuroethics-link07 {
  display: contents;
}
.neuroethics-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.neuroethics-link08 {
  display: contents;
}
.neuroethics-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.neuroethics-link09 {
  display: contents;
}
.neuroethics-icon14 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.neuroethics-container16 {
  display: contents;
}
@media(max-width: 1200px) {
  .neuroethics-desktop-menu {
    display: none;
  }
  .neuroethics-burger-menu {
    display: flex;
  }
  .neuroethics-icon06 {
    fill: #D9D9D9;
  }
  .neuroethics-container04 {
    height: auto;
  }
}
@media(max-width: 991px) {
  .neuroethics-container04 {
    height: auto;
  }
  .neuroethics-blog {
    flex-direction: column;
  }
  .neuroethics-container05 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .neuroethics-container06 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .neuroethics-blog1 {
    flex-direction: column;
  }
  .neuroethics-container11 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .neuroethics-container12 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .neuroethics-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .neuroethics-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .neuroethics-navlink18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink23 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-navlink24 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .neuroethics-container01 {
    height: 130px;
  }
  .neuroethics-text13 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .neuroethics-container04 {
    height: auto;
  }
  .neuroethics-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .neuroethics-iframe {
    width: 499px;
    height: 612px;
  }
  .neuroethics-iframe1 {
    width: 510px;
    height: 666px;
  }
  .neuroethics-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .neuroethics-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .neuroethics-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .neuroethics-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .neuroethics-text53 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .neuroethics-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .neuroethics-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .neuroethics-container01 {
    height: 131px;
  }
  .neuroethics-container04 {
    height: auto;
  }
  .neuroethics-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .neuroethics-image2 {
    width: 433px;
    height: 59px;
  }
  .neuroethics-iframe {
    width: 320px;
    height: 421px;
  }
  .neuroethics-iframe1 {
    width: 320px;
    height: 419px;
  }
  .neuroethics-footer {
    padding: var(--dl-space-space-unit);
  }
  .neuroethics-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .neuroethics-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .neuroethics-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .neuroethics-text53 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
.navbar-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.navbar-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.navbar-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-navlink03 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow1 {
  transition: 0.3s;
}
.navbar-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-navlink13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navbar-navlink14 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-navlink15 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow2 {
  transition: 0.3s;
}
.navbar-icon04 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.navbar-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-navlink18 {
  display: contents;
}
.navbar-logo {
  height: 2rem;
  text-decoration: none;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink20 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink22 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink23 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink24 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-navlink25 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon06 {
    fill: #D9D9D9;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-navlink19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink23 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink24 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-navlink25 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    height: 404px;
    padding: 16px;
  }
}
