.published-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.published-navbar-interactive {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.published-navlink {
  display: contents;
}
.published-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.published-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.published-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.published-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.published-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.published-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.published-dropdown-arrow {
  transition: 0.3s;
}
.published-icon {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.published-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.published-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.published-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.published-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.published-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.published-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.published-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.published-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.published-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.published-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.published-dropdown-arrow1 {
  transition: 0.3s;
}
.published-icon02 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.published-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.published-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.published-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.published-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.published-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.published-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.published-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.published-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.published-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.published-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.published-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.published-navlink09 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.published-navlink10 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.published-navlink11 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.published-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.published-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.published-burger-menu {
  display: none;
}
.published-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.published-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.published-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.published-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.published-navlink12 {
  display: contents;
}
.published-logo {
  height: 2rem;
  text-decoration: none;
}
.published-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.published-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.published-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.published-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink14 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink17 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-navlink19 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.published-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-size: contain;
  justify-content: center;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4ebf289-f744-43c1-8d50-ce5fbf432fba/dg1w0q6-248f879c-2665-4c64-a38a-7edea7204307.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0ZWJmMjg5LWY3NDQtNDNjMS04ZDUwLWNlNWZiZjQzMmZiYVwvZGcxdzBxNi0yNDhmODc5Yy0yNjY1LTRjNjQtYTM4YS03ZWRlYTcyMDQzMDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PuDOoTVkkT2Cuzw1OGRu4kNUh8Cu8PkMhdXGRj7o_mo');
}
.published-text08 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.published-text11 {
  color: var(--dl-color-gray-black);
  margin: var(--dl-space-space-twounits);
  align-self: center;
}
.published-link {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(16, 38, 50);
}
.published-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.published-text16:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.published-container03 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #62B6CB;
}
.published-text18 {
  align-self: center;
}
.published-text19 {
  color: var(--dl-color-gray-white);
}
.published-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe01 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-iframe02 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe03 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe04 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-iframe05 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe06 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe07 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe08 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container07 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.published-container08 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #62B6CB;
}
.published-text22 {
  align-self: center;
}
.published-text23 {
  color: var(--dl-color-gray-white);
}
.published-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe09 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe10 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe11 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe12 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe13 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe14 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe15 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe16 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe17 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe18 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe19 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe20 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container13 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.published-container14 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #62B6CB;
}
.published-text26 {
  align-self: center;
}
.published-text27 {
  color: var(--dl-color-gray-white);
}
.published-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe21 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe22 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe23 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe24 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe25 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.published-iframe26 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe27 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe28 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe29 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container18 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.published-container19 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #62B6CB;
}
.published-text30 {
  align-self: center;
}
.published-text31 {
  color: var(--dl-color-gray-white);
}
.published-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe30 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe31 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe32 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe33 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe34 {
  width: 500px;
  height: 650px;
  margin: var(--dl-space-space-unit);
}
.published-iframe35 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container22 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.published-iframe36 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.published-iframe37 {
  width: 500px;
  height: 650px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.published-container23 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.published-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.published-text34 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.published-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.published-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.published-container25 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.published-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.published-blog-post-card:hover {
  transform: scale(1.02);
}
.published-link1 {
  display: contents;
}
.published-image1 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.published-container26 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.published-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.published-blog-post-card1:hover {
  transform: scale(1.02);
}
.published-link2 {
  display: contents;
}
.published-image2 {
  width: 200px;
  margin: 0px;
  object-fit: cover;
  text-decoration: none;
}
.published-container27 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.published-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.published-blog-post-card2:hover {
  transform: scale(1.02);
}
.published-link3 {
  display: contents;
}
.published-image3 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.published-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.published-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.published-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.published-link4 {
  display: contents;
}
.published-icon08 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.published-link5 {
  display: contents;
}
.published-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.published-link6 {
  display: contents;
}
.published-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .published-desktop-menu {
    display: none;
  }
  .published-burger-menu {
    display: flex;
  }
  .published-icon04 {
    fill: #D9D9D9;
  }
}
@media(max-width: 991px) {
  .published-text11 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .published-text12 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .published-container03 {
    height: 1070px;
  }
  .published-container08 {
    height: 1070px;
  }
  .published-container14 {
    height: 1070px;
  }
  .published-container19 {
    height: 1070px;
  }
  .published-footer {
    padding-top: 485px;
  }
  .published-blog {
    flex-direction: column;
  }
  .published-container25 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .published-container26 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .published-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .published-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .published-navlink13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-navlink19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .published-container01 {
    height: 130px;
  }
  .published-text08 {
    color: rgb(255, 255, 255);
    width: var(--dl-size-size-maxwidth);
    align-self: center;
    text-align: center;
  }
  .published-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .published-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .published-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .published-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .published-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .published-container28 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .published-text37 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .published-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .published-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .published-container01 {
    height: 131px;
  }
  .published-text08 {
    align-self: center;
  }
  .published-container03 {
    height: 1118px;
  }
  .published-container08 {
    height: 1118px;
  }
  .published-container14 {
    height: 1118px;
  }
  .published-container19 {
    height: 1118px;
  }
  .published-footer {
    padding: var(--dl-space-space-unit);
    padding-top: 443px;
  }
  .published-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .published-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .published-container28 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .published-text37 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
